In [1]:
import numpy as np
import pandas as pd

## 0. Notes
Data Sets: 
1. Human Development Index
2. GINI Index
3. Gender Inequality Index  
4. Internally Displaced Persons
5. Total Population
6. School Enrollment, Primary & Secondary, Gender Parity Index  
7. Governance Indicators
8. US Foreign Aid Spending

Target: Governance Indicators - World Bank (Sum percentile ranks then divide by 600)


**Convert cleaning tasks to functions**

## 1. HDI Raw Data

In [2]:
hdi = pd.read_csv('../data/raw/HumanDevelopmentIndex.csv')

In [3]:
hdi.head()

                                                                                                                                                                                                                                                                                                                           Human Development Index (HDI)
HDI Rank (2018) Country     1990  NaN 1991  NaN 1992  NaN 1993  NaN 1994  NaN 1995  NaN 1996  NaN 1997  NaN 1998  NaN 1999  NaN 2000  NaN 2001  NaN 2002  NaN 2003  NaN 2004  NaN 2005  NaN 2006  NaN 2007  NaN 2008  NaN 2009  NaN 2010  NaN 2011  NaN 2012  NaN 2013  NaN 2014  NaN 2015  NaN 2016  NaN 2017  NaN 2018                             NaN
170             Afghanistan 0.298 NaN 0.304 NaN 0.312 NaN 0.308 NaN 0.303 NaN 0.327 NaN 0.331 NaN 0.335 NaN 0.339 NaN 0.343 NaN 0.345 NaN 0.347 NaN 0.378 NaN 0.387 NaN 0.400 NaN 0.410 NaN 0.419 NaN 0.431 NaN 0.436 NaN 0.447 NaN 0.464 NaN 0.465 NaN 0.479 NaN 0.485 NaN 0.488 NaN 0.490 NaN 0.491 NaN 0.493 NaN 0.496                            NaN
69              Albania     0.644 NaN 0.625 NaN 0.608 NaN 0.611 NaN 0.617 NaN 0.629 NaN 0.639 NaN 0.639 NaN 0.649 NaN 0.660 NaN 0.667 NaN 0.673 NaN 0.680 NaN 0.687 NaN 0.692 NaN 0.702 NaN 0.709 NaN 0.718 NaN 0.724 NaN 0.729 NaN 0.740 NaN 0.759 NaN 0.771 NaN 0.781 NaN 0.787 NaN 0.788 NaN 0.788 NaN 0.789 NaN 0.791                            NaN
82              Algeria     0.578 NaN 0.582 NaN 0.589 NaN 0.593 NaN 0.597 NaN 0.602 NaN 0.610 NaN 0.619 NaN 0.629 NaN 0.638 NaN 0.646 NaN 0.655 NaN 0.666 NaN 0.676 NaN 0.685 NaN 0.694 NaN 0.699 NaN 0.708 NaN 0.711 NaN 0.720 NaN 0.730 NaN 0.738 NaN 0.737 NaN 0.746 NaN 0.749 NaN 0.751 NaN 0.755 NaN 0.758 NaN 0.759                            NaN
36              Andorra     ..    NaN ..    NaN ..    NaN ..    NaN ..    NaN ..    NaN ..    NaN ..    NaN ..    NaN ..    NaN 0.759 NaN 0.767 NaN 0.780 NaN 0.820 NaN 0.826 NaN 0.819 NaN 0.829 NaN 0.829 NaN 0.831 NaN 0.830 NaN 0.828 NaN 0.827 NaN 0.849 NaN 0.846 NaN 0.853 NaN 0.850 NaN 0.854 NaN 0.852 NaN 0.857                            NaN

Initial things to clean up:
1. Multi-level index (labels should be Country & Year)
2. Drop NaN columns
3. Drop HDI Rank (2018)
4. Convert '..' to NaN

In [4]:
#Reset multi-index
hdi.reset_index(inplace=True)

#Drop all columns with NaN values (includes 'HDI Rank (2018)')
hdi.dropna(axis=1, inplace=True)

#Reset column names as entries from the first row
hdi.columns = hdi.iloc[0]

#Drop redundant first row
hdi = hdi.iloc[1:]

#Convert '..' entries to NaN
hdi.replace('..', np.nan, inplace=True)

In [5]:
hdi.head()

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1,Afghanistan,0.298,0.304,0.312,0.308,0.303,0.327,0.331,0.335,0.339,...,0.447,0.464,0.465,0.479,0.485,0.488,0.490,0.491,0.493,0.496
2,Albania,0.644,0.625,0.608,0.611,0.617,0.629,0.639,0.639,0.649,...,0.729,0.740,0.759,0.771,0.781,0.787,0.788,0.788,0.789,0.791
3,Algeria,0.578,0.582,0.589,0.593,0.597,0.602,0.610,0.619,0.629,...,0.720,0.730,0.738,0.737,0.746,0.749,0.751,0.755,0.758,0.759
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.830,0.828,0.827,0.849,0.846,0.853,0.850,0.854,0.852,0.857
5,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.508,0.510,0.525,0.537,0.547,0.557,0.565,0.570,0.576,0.574

In [6]:
hdi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 1 to 206
Data columns (total 30 columns):
Country    206 non-null object
1990       161 non-null object
1991       159 non-null object
1992       158 non-null object
1993       159 non-null object
1994       159 non-null object
1995       163 non-null object
1996       163 non-null object
1997       162 non-null object
1998       163 non-null object
1999       166 non-null object
2000       189 non-null object
2001       189 non-null object
2002       190 non-null object
2003       192 non-null object
2004       194 non-null object
2005       201 non-null object
2006       201 non-null object
2007       201 non-null object
2008       201 non-null object
2009       201 non-null object
2010       203 non-null object
2011       203 non-null object
2012       203 non-null object
2013       203 non-null object
2014       203 non-null object
2015       203 non-null object
2016       203 non-null object
2017       204 non-null object
2018       204 non-null object
dtypes: object(30)
memory usage: 48.4+ KB

In [7]:
#Drop rows without data for 2017-2018 (they're title rows for 'Human Development' and 'Regions')
hdi.dropna(subset=['2017', '2018'], inplace=True)

#### Save cleaned dataset to interim data folder:

In [8]:
hdi.to_csv('../data/interim/HDI.csv')

## 2. GINI Index

In [1]:
gini = pd.read_csv('../data/raw/GINI.csv')

NameError: name 'pd' is not defined

## 3. Gender Inequality Index

In [ ]:
gii = pd.read_csv('../data/raw/GenderInequalityIndex.csv')

## 4. Internally Displaced Persons

In [ ]:
displaced = pd.read_csv('../data/raw/InternallyDisplacedPersons.csv')

## 5. Total Population

In [ ]:
population = pd.read_csv('../data/raw/Population.csv')

## 6. Gender Parity Index - Primary & Secondary School Enrollment

In [ ]:
gpi_school = pd.read_csv('../data/raw/SchoolEnrollment_GenderParityIndex.csv')

## 7. Governance Indicators

In [ ]:
gov_indicators = pd.read_csv('../data/raw/GovernanceIndicators.csv')

## 8. US Foreign Aid Spending

In [ ]:
usaid = pd.read_csv('../data/raw/us_foreign_aid_complete.csv')