In [15]:
import numpy as np
import pandas as pd

## 0. Notes
Data Sets: 
1. Human Development Index --> Leave out for now
2. GINI Index
3. Gender Inequality Index --> Leave out for now
4. Internally Displaced Persons
5. Total Population
6. School Enrollment, Primary & Secondary, Gender Parity Index  
7. Governance Indicators
8. US Foreign Aid Spending

Target: Governance Indicators - World Bank (Sum percentile ranks then divide by 600)

In [134]:
# Keep only years from 2002-2018 (target data (aka Governance Indicators dataset)
# is most consistently recorded during that time period)

## 2. GINI Index

In [131]:
gini = pd.read_pickle('../data/interim/gini.pkl')

In [132]:
gini.head()

,Country Name,Country Code,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,42.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,ALB,31.7,NaN,NaN,30.6,NaN,NaN,30.0,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [133]:
gini.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  264 non-null    object
 1   Country Code  264 non-null    object
 2   2002          47 non-null     float64
 3   2003          55 non-null     float64
 4   2004          71 non-null     float64
 5   2005          75 non-null     float64
 6   2006          74 non-null     float64
 7   2007          72 non-null     float64
 8   2008          73 non-null     float64
 9   2009          78 non-null     float64
 10  2010          84 non-null     float64
 11  2011          77 non-null     float64
 12  2012          79 non-null     float64
 13  2013          76 non-null     float64
 14  2014          76 non-null     float64
 15  2015          75 non-null     float64
 16  2016          39 non-null     float64
 17  2017          25 non-null     float64
 18  2018          0 non-null      float64
dtypes: float64(17), object(2)
memory usage: 39.3+ KB

## 4. Internally Displaced Persons

In [135]:
displaced = pd.read_pickle('../data/interim/displaced.pkl')

In [136]:
displaced.head()

,Country Name,Country Code,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,297000.0,352000.0,450000.0,492000.0,631000.0,805000.0,1174000.0,1553000.0,1286000.0,2598000.0
2,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [137]:
displaced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  264 non-null    object
 1   Country Code  264 non-null    object
 2   2002          0 non-null      float64
 3   2003          0 non-null      float64
 4   2004          0 non-null      float64
 5   2005          0 non-null      float64
 6   2006          0 non-null      float64
 7   2007          0 non-null      float64
 8   2008          0 non-null      float64
 9   2009          55 non-null     float64
 10  2010          56 non-null     float64
 11  2011          57 non-null     float64
 12  2012          58 non-null     float64
 13  2013          63 non-null     float64
 14  2014          68 non-null     float64
 15  2015          62 non-null     float64
 16  2016          71 non-null     float64
 17  2017          67 non-null     float64
 18  2018          70 non-null     float64
dtypes: float64(17), object(2)
memory usage: 39.3+ KB

***Potentially an issue that we only have data from 2009 on***

## 5. Total Population

In [138]:
population = read_pickle('../data/interim/population.pkl')

NameError: name 'read_pickle' is not defined

In [125]:
population.head()

,Country Name,Country Code,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,94992.0,97017.0,98737.0,100031.0,100834.0,101222.0,101358.0,101455.0,101669.0,102046.0,102560.0,103159.0,103774.0,104341.0,104872.0,105366.0,105845.0
1,Afghanistan,AFG,22600770.0,23680871.0,24726684.0,25654277.0,26433049.0,27100536.0,27722276.0,28394813.0,29185507.0,30117413.0,31161376.0,32269589.0,33370794.0,34413603.0,35383128.0,36296400.0,37172386.0
2,Angola,AGO,17519417.0,18121479.0,18758145.0,19433602.0,20149901.0,20905363.0,21695634.0,22514281.0,23356246.0,24220661.0,25107931.0,26015780.0,26941779.0,27884381.0,28842484.0,29816748.0,30809762.0
3,Albania,ALB,3051010.0,3039616.0,3026939.0,3011487.0,2992547.0,2970017.0,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0
4,Andorra,AND,70049.0,73182.0,76244.0,78867.0,80993.0,82684.0,83862.0,84463.0,84449.0,83747.0,82427.0,80774.0,79213.0,78011.0,77297.0,77001.0,77006.0

In [126]:
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  264 non-null    object
 1   Country Code  264 non-null    object
 2   2002          263 non-null    float64
 3   2003          263 non-null    float64
 4   2004          263 non-null    float64
 5   2005          263 non-null    float64
 6   2006          263 non-null    float64
 7   2007          263 non-null    float64
 8   2008          263 non-null    float64
 9   2009          263 non-null    float64
 10  2010          263 non-null    float64
 11  2011          263 non-null    float64
 12  2012          262 non-null    float64
 13  2013          262 non-null    float64
 14  2014          262 non-null    float64
 15  2015          262 non-null    float64
 16  2016          262 non-null    float64
 17  2017          262 non-null    float64
 18  2018          262 non-null    float64
dtypes: float64(17), object(2)
memory usage: 39.3+ KB

## 6. Gender Parity Index - Primary & Secondary School Enrollment

In [127]:
gpi_school = WorldBankData('../data/raw/SchoolEnrollment_GenderParityIndex.csv')

In [128]:
gpi_school.head()

,Country Name,Country Code,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,0.989,0.97706,0.95291,0.96339,0.96798,0.98676,1.00561,1.00444,1.01460,1.00871,1.02156,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,NaN,0.54426,0.40582,0.54769,0.57323,0.56720,0.58602,0.60961,0.62581,0.66345,0.66925,0.65533,0.65402,0.64754,NaN,0.64621,NaN
2,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,0.83309,0.82340,0.77763,0.63032,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,ALB,NaN,NaN,0.98020,0.97804,0.98504,0.99687,0.99979,1.01781,1.00569,1.00029,0.99010,0.98159,0.97668,0.98242,0.99355,1.00432,1.0173
4,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [129]:
gpi_school.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  264 non-null    object
 1   Country Code  264 non-null    object
 2   2002          180 non-null    float64
 3   2003          176 non-null    float64
 4   2004          188 non-null    float64
 5   2005          190 non-null    float64
 6   2006          184 non-null    float64
 7   2007          187 non-null    float64
 8   2008          186 non-null    float64
 9   2009          185 non-null    float64
 10  2010          184 non-null    float64
 11  2011          190 non-null    float64
 12  2012          185 non-null    float64
 13  2013          171 non-null    float64
 14  2014          181 non-null    float64
 15  2015          181 non-null    float64
 16  2016          174 non-null    float64
 17  2017          163 non-null    float64
 18  2018          98 non-null     float64
dtypes: float64(17), object(2)
memory usage: 39.3+ KB

## 7. Governance Indicators

In [45]:
gov_indicators = pd.read_csv('../data/raw/GovernanceIndicators.csv')

In [47]:
gov_indicators.head(20)

,Country Name,Country Code,Series Name,Series Code,1996 [YR1996],1998 [YR1998],2000 [YR2000],2002 [YR2002],2003 [YR2003],2004 [YR2004],...,2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018]
0,Afghanistan,AFG,Voice and Accountability: Percentile Rank,VA.PER.RNK,1,0.4975124,0.9950249,9.452736,14.42786,15.38461,...,9.478673,9.952606,11.26761,14.08451,14.55399,16.25616,18.71921,20.68966,22.16749,20.68966
1,Afghanistan,AFG,Rule of Law: Percentile Rank,RL.PER.RNK,1.507538,2,1.485149,1.980198,3.960396,2.870813,...,0.9478673,0.4739336,0.4694836,1.408451,1.408451,4.326923,3.365385,5.769231,4.807693,4.326923
2,Afghanistan,AFG,Regulatory Quality: Percentile Rank,RQ.PER.RNK,1.630435,2.590674,1.538462,3.061224,5.612245,5.418719,...,3.349282,5.263158,4.265403,10.90047,10.90047,11.05769,14.42308,7.211538,6.730769,10.57692
3,Afghanistan,AFG,Political Stability and Absence of Violence/Te...,PV.PER.RNK,2.12766,0.5319149,0.5291005,1.587302,2.01005,1.941748,...,0.4739336,1.421801,1.421801,1.895735,1.421801,2.857143,0.952381,0.952381,0.4761905,0.4761905
4,Afghanistan,AFG,Government Effectiveness: Percentile Rank,GE.PER.RNK,0,0,0,2.040816,11.73469,17.24138,...,3.827751,4.784689,4.739336,6.635071,7.582938,8.173077,8.173077,9.615385,9.134615,7.692307
5,Afghanistan,AFG,Control of Corruption: Percentile Rank,CC.PER.RNK,4.301075,9.793815,5.076142,5.050505,5.050505,5.853659,...,0.9569378,0.952381,0.9478673,2.369668,1.895735,5.288462,6.25,3.365385,3.846154,4.326923
6,Albania,ALB,Voice and Accountability: Percentile Rank,VA.PER.RNK,29.5,38.80597,41.29353,48.25871,50.24876,49.03846,...,54.02843,54.02843,52.11267,50.70422,51.17371,50.2463,52.70936,52.21675,54.18719,53.20197
7,Albania,ALB,Rule of Law: Percentile Rank,RL.PER.RNK,28.64322,19.5,18.81188,27.22772,28.21782,28.70813,...,38.38863,41.23223,41.31455,39.43662,39.43662,43.26923,44.23077,41.82692,38.94231,39.42308
8,Albania,ALB,Regulatory Quality: Percentile Rank,RQ.PER.RNK,30.43478,44.55959,40.51282,45.40816,38.2653,48.76847,...,58.37321,57.89474,57.34597,57.34597,57.8199,60.09615,59.13462,60.57692,62.01923,63.46154
9,Albania,ALB,Political Stability and Absence of Violence/Te...,PV.PER.RNK,35.6383,28.7234,29.62963,34.39153,36.1809,30.09709,...,42.1801,38.38863,37.44076,40.28436,49.2891,61.42857,58.09524,58.09524,60.47619,58.57143
10,Albania,ALB,Government Effectiveness: Percentile Rank,GE.PER.RNK,25.68306,24.87047,23.07692,34.69388,35.20408,42.36453,...,47.84689,44.49761,47.8673,46.4455,45.49763,50,53.84615,52.88462,55.76923,57.69231
11,Albania,ALB,Control of Corruption: Percentile Rank,CC.PER.RNK,19.35484,14.43299,23.85787,23.73737,24.24242,27.31707,...,35.4067,36.19048,26.54029,27.48815,27.01422,34.61538,38.46154,40.86538,42.30769,35.09615
12,Algeria,DZA,Voice and Accountability: Percentile Rank,VA.PER.RNK,14.5,12.43781,14.42786,18.90547,18.90547,23.55769,...,17.53555,18.48341,20.18779,22.53521,23.94366,25.12315,24.63054,23.64532,23.15271,21.67488
13,Algeria,DZA,Rule of Law: Percentile Rank,RL.PER.RNK,12.56281,12.5,11.88119,33.16832,31.68317,33.49282,...,23.22275,26.54029,24.41315,26.76056,30.98592,24.03846,19.23077,18.75,19.23077,22.11539
14,Algeria,DZA,Regulatory Quality: Percentile Rank,RQ.PER.RNK,20.1087,22.79793,23.07692,29.59184,32.14286,30.04926,...,12.91866,9.569378,9.952606,9.00474,11.84834,8.173077,10.57692,10.09615,10.57692,8.173077
15,Algeria,DZA,Political Stability and Absence of Violence/Te...,PV.PER.RNK,5.319149,4.787234,10.05291,6.878307,5.527638,10.67961,...,13.27014,11.84834,10.42654,9.478673,12.79621,9.523809,11.90476,12.38095,16.19048,18.57143
16,Algeria,DZA,Government Effectiveness: Percentile Rank,GE.PER.RNK,13.11475,19.68912,14.87179,31.12245,31.12245,34.48276,...,35.4067,38.75598,36.01896,35.07109,35.07109,35.09615,35.57692,35.57692,30.76923,37.01923
17,Algeria,DZA,Control of Corruption: Percentile Rank,CC.PER.RNK,33.33333,22.16495,18.78173,23.23232,28.78788,27.80488,...,33.49282,36.66667,35.07109,37.44076,39.33649,32.21154,29.80769,27.88461,30.28846,28.36539
18,American Samoa,ASM,Voice and Accountability: Percentile Rank,VA.PER.RNK,..,..,..,..,..,64.42308,...,77.25118,78.19905,78.87324,80.75117,81.22066,..,..,..,..,..
19,American Samoa,ASM,Rule of Law: Percentile Rank,RL.PER.RNK,..,..,..,..,..,75.59808,...,85.30806,84.83412,84.97652,85.44601,85.44601,87.5,87.98077,87.98077,88.46154,87.98077

Things to work on:

In [114]:
gov_indicators['Country Code'].unique()

array(['AFG', 'ALB', 'DZA', 'ASM', 'AND', 'AGO', 'AIA', 'ATG', 'ARG',
       'ARM', 'ABW', 'AUS', 'AUT', 'AZE', 'BHS', 'BHR', 'BGD', 'BRB',
       'BLR', 'BEL', 'BLZ', 'BEN', 'BMU', 'BTN', 'BOL', 'BIH', 'BWA',
       'BRA', 'BRN', 'BGR', 'BFA', 'BDI', 'CPV', 'KHM', 'CMR', 'CAN',
       'CYM', 'CAF', 'TCD', 'CHL', 'CHN', 'COL', 'COM', 'COD', 'COG',
       'COK', 'CRI', 'CIV', 'HRV', 'CUB', 'CYP', 'CZE', 'DNK', 'DJI',
       'DMA', 'DOM', 'ECU', 'EGY', 'SLV', 'GNQ', 'ERI', 'EST', 'SWZ',
       'ETH', 'FJI', 'FIN', 'FRA', 'GUF', 'GAB', 'GMB', 'GEO', 'DEU',
       'GHA', 'GRC', 'GRL', 'GRD', 'GUM', 'GTM', 'GIN', 'GNB', 'GUY',
       'HTI', 'HND', 'HKG', 'HUN', 'ISL', 'IND', 'IDN', 'IRN', 'IRQ',
       'IRL', 'ISR', 'ITA', 'JAM', 'JPN', 'JEY', 'JOR', 'KAZ', 'KEN',
       'KIR', 'PRK', 'KOR', 'XKX', 'KWT', 'KGZ', 'LAO', 'LVA', 'LBN',
       'LSO', 'LBR', 'LBY', 'LIE', 'LTU', 'LUX', 'MAC', 'MDG', 'MWI',
       'MYS', 'MDV', 'MLI', 'MLT', 'MHL', 'MTQ', 'MRT', 'MUS', 'MEX',
       'FSM', 'MDA', 'MCO', 'MNG', 'MNE', 'MAR', 'MOZ', 'MMR', 'NAM',
       'NRU', 'NPL', 'NLD', 'ANT', 'NZL', 'NIC', 'NER', 'NGA', 'NIU',
       'MKD', 'NOR', 'OMN', 'PAK', 'PLW', 'PAN', 'PNG', 'PRY', 'PER',
       'PHL', 'POL', 'PRT', 'PRI', 'QAT', 'REU', 'ROU', 'RUS', 'RWA',
       'WSM', 'SMR', 'STP', 'SAU', 'SEN', 'SRB', 'SYC', 'SLE', 'SGP',
       'SVK', 'SVN', 'SLB', 'SOM', 'ZAF', 'SSD', 'ESP', 'LKA', 'KNA',
       'LCA', 'VCT', 'SDN', 'SUR', 'SWE', 'CHE', 'SYR', 'TWN', 'TJK',
       'TZA', 'THA', 'TLS', 'TGO', 'TON', 'TTO', 'TUN', 'TUR', 'TKM',
       'TUV', 'UGA', 'UKR', 'ARE', 'GBR', 'USA', 'URY', 'UZB', 'VUT',
       'VEN', 'VNM', 'VIR', 'PSE', 'YEM', 'ZMB', 'ZWE', nan], dtype=object)

In [111]:
gov_indicators.info()
#Maybe want to cut data down to 2002-2018 for all datasets since those are the years we have annual targets for

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1289 entries, 0 to 1288
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Name   1286 non-null   object
 1   Country Code   1284 non-null   object
 2   Series Name    1284 non-null   object
 3   Series Code    1284 non-null   object
 4   1996 [YR1996]  1284 non-null   object
 5   1998 [YR1998]  1284 non-null   object
 6   2000 [YR2000]  1284 non-null   object
 7   2002 [YR2002]  1284 non-null   object
 8   2003 [YR2003]  1284 non-null   object
 9   2004 [YR2004]  1284 non-null   object
 10  2005 [YR2005]  1284 non-null   object
 11  2006 [YR2006]  1284 non-null   object
 12  2007 [YR2007]  1284 non-null   object
 13  2008 [YR2008]  1284 non-null   object
 14  2009 [YR2009]  1284 non-null   object
 15  2010 [YR2010]  1284 non-null   object
 16  2011 [YR2011]  1284 non-null   object
 17  2012 [YR2012]  1284 non-null   object
 18  2013 [YR2013]  1284 non-null   object
 19  2014 [YR2014]  1284 non-null   object
 20  2015 [YR2015]  1284 non-null   object
 21  2016 [YR2016]  1284 non-null   object
 22  2017 [YR2017]  1284 non-null   object
 23  2018 [YR2018]  1284 non-null   object
dtypes: object(24)
memory usage: 241.8+ KB

## 8. US Foreign Aid Spending

In [42]:
usaid = pd.read_csv('../data/raw/us_foreign_aid_complete.csv')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (42) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [113]:
usaid['country_code'].unique()

array(['AFG', 'IRQ', 'POL', 'GBR', nan, 'ISR', 'WLD', 'EGY', 'FRA', 'MEN',
       'COL', 'RUS', 'JOR', 'ASN', 'PAK', 'ITA', 'TUR', 'MEX', 'IND',
       'CNA', 'GRC', 'EUS', 'EEN', 'SSN', 'KOR', 'WAN', 'HTI', 'SLV',
       'DEU', 'ESP', 'PAN', 'JPN', 'NLD', 'KHM', 'WEC', 'TZA', 'TWN',
       'MNS', 'PHL', 'BDI', 'SDF', 'BEL', 'SEN', 'PSE', 'PRT', 'MOZ',
       'LAO', 'UGA', 'AUT', 'ZMB', 'SOM', 'BIH', 'KEN', 'NGA', 'GEO',
       'IDN', 'YEM', 'BGD', 'NOR', 'ZAF', 'BRA', 'CIV', 'SYR', 'UKR',
       'NIC', 'SCG', 'SSD', 'LCN', 'PER', 'CRI', 'HND', 'EES', 'LBN',
       'MAR', 'MNG', 'IRN', 'MWI', 'CS-KM', 'KAZ', 'MLI', 'MHL', 'LBR',
       'GTM', 'BFA', 'CHL', 'EEE', 'LAN', 'SDN', 'MDA', 'ETH', 'BWA',
       'BOL', 'GHA', 'DOM', 'JAM', 'NER', 'ARM', 'LBY', 'OCN', 'DNK',
       'ENS', 'TUN', 'ARG', 'PLW', 'THA', 'ANS', 'BHR', 'FSM', 'MDG',
       'IRL', 'SAU', 'PRK', 'OMN', 'BEN', 'EUN', 'ZWE', 'LSO', 'NAM',
       'COD', 'EAQ', 'SAN', 'TCD', 'CAF', 'VUT', 'CPV', 'DZA', 'SWE',
       'CRN', 'ECU', 'LKA', 'RWA', 'GRD', 'SCN', 'VNM', 'AZE', 'ALB',
       'KGZ', 'VEN', 'ROU', 'MNE', 'CCN', 'EAG', 'BGR', 'UZB', 'MYS',
       'CAN', 'CMR', 'AUS', 'GIN', 'MRT', 'MKD', 'AGO', 'COG', 'CYP',
       'ARE', 'SVK', 'GAB', 'BLR', 'NPL', 'LTU', 'CZE', 'ANT', 'TJK',
       'HRV', 'TKM', 'SLE', 'SEA', 'MMR', 'HUN', 'CHN', 'SRB', 'CUW',
       'SWZ', 'GUY', 'SLB', 'TLS', 'EST', 'TGO', 'SAG', 'URY', 'GNB',
       'FIN', 'LVA', 'MUS', 'GMB', 'MLT', 'BLZ', 'PRY', 'DJI', 'SGP',
       'BHS', 'ERI', 'MDV', 'SUR', 'TTO', 'ATG', 'SMN', 'MNA', 'WHN',
       'ISL', 'HKG', 'CUB', 'SVN', 'NCN', 'PNG', 'NZL', 'QAT', 'SYC',
       'STP', 'NAN', 'BRB', 'PIT', 'DMA', 'BTN', 'FJI', 'KNA', 'GNQ',
       'VCT', 'COM', 'LCA', 'TON', 'WSM', 'KIR', 'ESN', 'KWT', 'ESH',
       'TIB', 'ECN', 'TCA', 'NCL', 'CHE', 'YUF', 'CYM', 'BRN', 'AIA',
       'MAC', 'NRU', 'TUV', 'ABW', 'GUF', 'MTQ', 'BMU', 'COK', 'PYF',
       'VGB', 'IOT', 'MSR'], dtype=object)

In [65]:
usaid['fiscal_year'].unique()

array(['2011', '2012', '2013', '2015', '2010', '2008', '2009', '2006',
       '2018', '2014', '2017', '2007', '2003', '2016', '1947', '1973',
       '2000', '1979', '1972', '1995', '2005', '2004', '1996', '2002',
       '1993', '2001', '1985', '1994', '1986', '1999', '1991', '1971',
       '1992', '1987', '1988', '1998', '1989', '1997', '1990', '1974',
       '1970', '1952', '1949', '1984', '1969', '1951', '1982', '2019',
       '1983', '1980', '1981', '1978', '1968', '1950', '1976', '1977',
       '1954', '1946', '1967', '1966', '1975', '1976tq', '1962', '1956',
       '1953', '1948', '1963', '1959', '1957', '1965', '1955', '1964',
       '1960', '1961', '1958', 2003, 2002, 2016, 2017, 2018, 2008, 2011,
       2010, 2012, 2015, 2019, 2006, 2005, 2013, 2014, 1999, 2007, 1996,
       2004, 2009, 2001, 1993, 1995, 1998, 1997, 2000, 1978, 1986, 1994,
       1963, 1985, 1966, 1957, 1968, 1956, 1961, 1974, 1972, 1987, 1992,
       1982, 1977, 1984, 1991, 1980, 1989, 1976, 1990, 1983, 1979, 1960,
       1988, 1967, 1954, 1969, 1981, 1964, 1958, 1965, 1955, 1951, 1950,
       1975, 1971, 1970, 1962, 1973, 1952, 1959, 1953], dtype=object)

## 1. HDI Raw Data

In [71]:
#hdi = pd.read_csv('../data/raw/HumanDevelopmentIndex.csv', skiprows=[0])

In [72]:
#hdi.head()

Initial things to clean up:

2. Drop NaN columns
3. Drop HDI Rank (2018)
4. Convert '..' to NaN

In [73]:
#Drop all columns with NaN values (includes 'HDI Rank (2018)')
#hdi.dropna(axis=1, inplace=True)

#Convert '..' entries to NaN
#hdi.replace('..', np.nan, inplace=True)

In [74]:
#hdi.head()

In [75]:
#hdi.info()

In [36]:
#Drop rows without data for 2017-2018 (they're title rows for 'Human Development' and 'Regions')
#hdi.dropna(subset=['2017', '2018'], inplace=True)

#### Save cleaned dataset to interim data folder:

In [9]:
#hdi.to_pickle('../data/interim/HDI.pkl')

## 3. Gender Inequality Index

In [78]:
#gii = pd.read_csv('../data/raw/GenderInequalityIndex.csv', skiprows=[0])

In [79]:
#gii.head()

In [80]:
#gii.info()